<section class="todoapp">
      <header class="header">
        <h1>To Do List</h1>
        <!--<input class="new-todo" placeholder="Make a new list" autofocus="">-->
          <%= form_for(@list) do |f| %>
            <%= f.text_field :name, :class => "new-todo" %>
          <% end %>
      </header>

      <section class="main" style="display: block;">
        <!--<input class="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>-->
        <ul class="todo-list">
          <% @lists.each do |list| %>
            <li>
              <div class="view">
                <label><%= link_to list.name, list_path(list) %></label>
              </div>
            </li>
          <% end %>
          <!--<li>
            <div class="view">
              <input class="toggle" type="checkbox">
                <label><a href="">first list</a></label>
              <button class="destroy"></button>
            </div>
          </li>-->   
        </ul>
      </section>

      <footer class="footer" style="display: block;">
        <!--<span class="todo-count"><strong>1</strong> item left</span>
        <ul class="filters">
          <li>
            <a href="#/" class="">All</a>
          </li>
          <li>
            <a href="#/active" class="selected">Active</a>
          </li>
          <li>
            <a href="#/completed">Completed</a>
          </li>
        </ul>
        <button class="clear-completed" style="display: block;">Clear completed</button>-->
      </footer>
    </section>