<section class="todoapp">
      <header class="header">
        <h1>To Do List</h1>
          <%= form_for(@list) do |f| %>
              <%= f.text_field :name, :class => "new-todo", placeholder: (@list.errors.full_messages_for(:name).first || "Enter List Name") %>
          <% end %>
      </header>

      <section class="main" style="display: block;">
        <ul class="todo-list">
          <% @lists.each do |list| %>
            <li>
              <div class="view">
                <label><%= link_to list.name, list_path(list) %></label>
              </div>
            </li>
          <% end %>
        </ul>
      </section>

      <footer class="footer" style="display: block;">
      </footer>
    </section>