<section class="todoapp">
      <header class="header">
        <h1><%= @list.name %></h1>

        <%= form_for([@list, @item]) do |f| %>
            <%= f.text_field :description, :class => "new-todo", placeholder: (@item.errors.full_messages_for(:description).first || "Enter item name") %>
          <% end %>
      </header>

      <section class="main" style="display: block;">
        <input class="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
          <% @list.items.each do |item| %>
            <li>
              <div class="view">
                <label><%= item.description %></label>
              </div>
            </li>
          <% end %>
        </ul>
      </section>

      <footer class="footer" style="display: block;">
    </section>